In [26]:
import numpy as np
import pandas as pd

In [27]:
data=pd.read_csv('iris.csv')

In [28]:
data.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           NaN          3.6           1.4          0.2  Setosa

In [29]:
data.tail(5)

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [30]:
data.shape

(150, 5)

In [31]:
data.size

750

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  149 non-null    float64
 1   sepal.width   149 non-null    float64
 2   petal.length  149 non-null    float64
 3   petal.width   149 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [33]:
data.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    149.000000   149.000000    149.000000   149.000000
mean       5.848993     3.055034      3.773154     1.205369
std        0.827943     0.436422      1.761435     0.761203
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [34]:
data.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [35]:
data.isnull()

     sepal.length  sepal.width  petal.length  petal.width  variety
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4            True        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [36]:
data.isnull().sum()

sepal.length    1
sepal.width     1
petal.length    1
petal.width     1
variety         0
dtype: int64

In [37]:
r=data['sepal.length']

In [39]:
rmean=r.mean()
rmean

5.848993288590604

In [41]:
r.fillna(rmean,inplace=True)

In [42]:
data.isnull().sum()

sepal.length    0
sepal.width     1
petal.length    1
petal.width     1
variety         0
dtype: int64

In [43]:
rs=data['sepal.width']

In [45]:
rs.fillna('3.1',inplace=True)

In [46]:
data.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    1
petal.width     1
variety         0
dtype: int64

In [48]:
slicedlist=data.iloc[7:21]
slicedlist

    sepal.length sepal.width  petal.length  petal.width variety
7            5.0         3.4           1.5          0.2  Setosa
8            4.4         2.9           1.4          0.2  Setosa
9            4.9         3.1           NaN          0.1  Setosa
10           5.4         3.7           1.5          0.2  Setosa
11           4.8         3.4           1.6          0.2  Setosa
12           4.8         3.0           1.4          0.1  Setosa
13           4.3         3.0           1.1          0.1  Setosa
14           5.8         4.0           1.2          0.2  Setosa
15           5.7         4.4           1.5          0.4  Setosa
16           5.4         3.9           1.3          0.4  Setosa
17           5.1         3.5           1.4          0.3  Setosa
18           5.7         3.8           1.7          0.3  Setosa
19           5.1         3.8           1.5          0.3  Setosa
20           5.4         3.4           1.7          0.2  Setosa

In [49]:
data.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [60]:
data.rename(columns={data.columns[1]:"spw"},inplace=True)

In [57]:
data.columns

Index(['sepal.length', 'spw', 'petal.length', 'petal.width', 'variety'], dtype='object')

In [62]:
data.rename(columns={data.columns[1]:"sepal.width"},inplace=True)

In [63]:
data.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [64]:
# add a new column with a constant value

data['value']=70

In [65]:
data.head(5)

   sepal.length sepal.width  petal.length  petal.width variety  value
0      5.100000         3.5           1.4          0.2  Setosa     70
1      4.900000         3.0           1.4          0.2  Setosa     70
2      4.700000         3.2           1.3          0.2  Setosa     70
3      4.600000         3.1           1.5          0.2  Setosa     70
4      5.848993         3.6           1.4          0.2  Setosa     70

In [66]:
# add a new column with null values

data['val']=pd.NaT

In [68]:
data.head(5)

   sepal.length sepal.width  petal.length  petal.width variety  value val
0      5.100000         3.5           1.4          0.2  Setosa     70 NaT
1      4.900000         3.0           1.4          0.2  Setosa     70 NaT
2      4.700000         3.2           1.3          0.2  Setosa     70 NaT
3      4.600000         3.1           1.5          0.2  Setosa     70 NaT
4      5.848993         3.6           1.4          0.2  Setosa     70 NaT

In [69]:
data.values

array([[5.1, 3.5, 1.4, ..., 'Setosa', 70, NaT],
       [4.9, 3.0, 1.4, ..., 'Setosa', 70, NaT],
       [4.7, 3.2, 1.3, ..., 'Setosa', 70, NaT],
       ...,
       [6.5, 3.0, 5.2, ..., 'Virginica', 70, NaT],
       [6.2, 3.4, 5.4, ..., 'Virginica', 70, NaT],
       [5.9, 3.0, 5.1, ..., 'Virginica', 70, NaT]], dtype=object)

In [76]:
# Insert column of an already existing name
data.insert(5,'value',data['variety'],allow_duplicates=True)

In [75]:
data.head(5)

,sepal.length,sepal.width,petal.length,petal.width,variety,value,value,value,val
0,5.100000,3.5,1.4,0.2,Setosa,Setosa,5.100000,70,NaT
1,4.900000,3.0,1.4,0.2,Setosa,Setosa,4.900000,70,NaT
2,4.700000,3.2,1.3,0.2,Setosa,Setosa,4.700000,70,NaT
3,4.600000,3.1,1.5,0.2,Setosa,Setosa,4.600000,70,NaT
4,5.848993,3.6,1.4,0.2,Setosa,Setosa,5.848993,70,NaT

In [77]:
ser=pd.Series([10,20,30],index=[1,2,3])

In [80]:
#data.insert(5,"rrr",ser.values,allow_duplicates=True)